#order-builder {
  display: none;
}

#toppings {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#submit {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#display-order {
  border: 3px solid green;
  padding: 10px;
  border-radius: 4%;
}

.container {
  background:rgba(255,255,255, 0.75);
  height: 100%;
}

.grey {
  color: grey;
}

.header {
  margin-bottom: 15px;
}

.toppings {
  margin-top: 15px;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.topping-button {
  display: none;
  max-height: 150px;
}

h1, h3 {
  text-shadow: -1px 1px 1px rgb(0, 255, 0, 0.65);
}

h4 {
  text-shadow: -1px 1px 1px rgb(255, 0, 0, 0.65);
}

select {
  margin-top: 15px;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

label {
  margin: 15px;
}

body, html {
  background-image: url("../img/bg.jpg");
  background-position: top;
  background-size: cover;
}

body {
  font-family: 'Cutive', serif;

}

h1 {
  font-family: 'Molle', cursive;
}

h3 {
  font-family: 'Pacifico', cursive;
}
